.git
.gitignore
.pytest_cache
**/__pycache__
*.py[cod]
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors
artifacts
checkpoints
data
results
logs
notebooks
template_slide_latex
hf-envi-nmt-scratch-transformer
.venv
venv
